<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    This bot was created for studying and educational purposes. </br> You can use
    it to learn certain articles across the internet and get the information out
    of it,</br> the bot will learn every single part of the article and provides
    the most suitable answer to the provided question.
  </body>
</html>
